@model IEnumerable<ALA_07_MVC_try3.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Users</h2>

<div class="card" style="width: 50rem;">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">User Details and Award List</a> |
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>